#canvas, #retakePhotoButton, #evaluateButton {
  display:none;
}

#video, #canvas, #photo {
  width: 95%;
}

#takePhotoButton, #anotherPhotoButton {
  width: 70%;
  height: 150px;
  font-size: 72px;
}

#retakePhotoButton, #evaluateButton {
  width: 35%;
  height: 150px;
  font-size: 72px;
}

#result {
  font-size: 64px;
}

.contentArea {
  text-align: center;
  font-size: 16px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  /* margin:0 auto; */
}