<!doctype html>
<html>
<head>
	<title>CSSS Fall Hack 2020</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}" type="text/css" media="all">
</head>
<body onload="startup()">
    <div class="contentArea">
        <video id="video" autoplay></video>
        <canvas id="canvas"></canvas>
        <br>
        <button id="takePhotoButton" onclick="takePhoto()">Take Photo</button>
        <button id="retakePhotoButton" onclick="retakePhoto()">Retake</button>
        <button id="evaluateButton" onclick="evaluateAnimal()">Evaluate</button>
        <img id="img" src="">
        <form method="POST" action="evaluate" id="dataForm">
            <input type="hidden" name="imageData" id="imageData">
        </form>
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script src="{{url_for('static', filename='js/capture.js')}}"></script>
    </div>
</body>
</html>
